@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.categories {
  &__header {
    @include flex-all-sb;
    margin-bottom: 55px;
  }

  &__header-box {
    max-width: 730px;
  }

  h2 {
    line-height: 1.2;
    margin-bottom: 25px;
  }

  article {
    position: relative;
  }

  img {
    min-height: 395px;
    object-fit: cover;
  }

  h3 {
    position: absolute;
    color: var(--color-white);
    max-width: 225px;
    width: 100%;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    line-height: 1.2;
    text-align: center;
  }

  .btn {
    min-width: 225px;
    padding: 18px 20px;
  }
}