@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.contact {
  min-height: 635px;
  @include cover-background;
  @include flex-all-center;

  h2 {
    margin: 0 auto 50px;
    line-height: 1.15;
    color: var(--color-dark);
  }

  &__wrapper {
    position: relative;
    color: var(--color-white);
    max-width: 570px;
    @include flex-all-center;
    flex-direction: column;
    margin: 0 auto;
    z-index: 1;
  }

  &__form {
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: 25px;
    margin-bottom: 50px;

    @include media(mobile-m) {
      flex-direction: column;
      align-items: center;
    }
  }

  span {
    text-transform: uppercase;
    font-family: var(--font-family-secondary);
    font-size: 14px;
    letter-spacing: 0.2em;
    display: block;
    margin-bottom: 10px;
  }

  label {
    width: 100%;

    @include media(mobile-m) {
      margin-bottom: 30px;
    }
  }

  input {
    width: 100%;
    border-bottom: 2px solid var(--color-white);
    color: inherit;
    padding-block: 12px 11px;
    padding-left: 25px;

    &::placeholder {
      font-weight: var(--fw-500);
      color: inherit;
      font-size: 18px;
      line-height: 1;
    }
  }

  .btn {
    padding: 18px 32px;
  }
}