@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.footer {
  background-color: var(--color-dark);
  color: var(--color-white);

  .nav {
    @include flex-all-sb;

    @include media(mobile-l) {
      flex-direction: column;
    }

    &__inner {
      @include flex-col;
      align-items: flex-start;

      @include media(mobile-l) {
        align-items: center;
        margin-bottom: 30px;
      }

      a:first-of-type {
        margin-bottom: 25px;
        line-height: 1.5;
        font-size: 20px;

        @include media(tablet) {
          margin-bottom: 35px;
          font-size: 16px;
        }
      }
    }
  }

  .btn {
    padding: 15px 25px;

    &:not(:last-child) {

      @include media(mobile-m) {
        margin-right: 0;
      }
    }
  }

  .logo {
    max-width: 130px;
  }

  &__top {
    border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.2);
    padding-block: 60px;
  }

  &__bottom,
  &__list {
    @include flex-all-sb;
  }

  &__bottom {
    padding-block: 20px;

    @include media(mobile-l) {
      flex-direction: column-reverse;
    }

    p,
    a {
      font-size: 16px;
    }
  }

  &__list {
    @include media(mobile-l) {
      margin-bottom: 20px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 48px;
    }
  }

  .copyright {
    color: inherit;

    @include media(mobile-s) {
      max-width: 170px;
      font-size: 14px;
      text-align: center;
    }
  }
}