@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.gallery {
  text-align: center;

  h2 {
    margin: 0 auto 25px;
  }

  p {
    max-width: 770px;
    margin: 0 auto 65px;
  }

  &__list {
    column-count: 3;
    column-gap: 30px;

    @include media(tablet) {
      column-count: 2;
    }

    @include media(mobile-l) {
      column-gap: 15px;
    }
  }

  &__item {
    margin-bottom: 30px;
    overflow: hidden;

    @include media(mobile-l) {
      margin-bottom: 15px;
    }
  }

  img {
    width: 100%;
  }


  &--page {
    .gallery__item {

      &:nth-child(1),
      &:nth-child(3),
      &:nth-child(6),
      &:nth-child(8) {
        img {
          height: 530px;

          @include media(mobile-l) {
            height: 210px;
          }
        }
      }

      &:nth-child(2),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(7) {
        img {
          height: 210px;
        }
      }

      &:nth-child(9),
      &:nth-child(10),
      &:nth-child(11),
      &:nth-child(12) {
        img {
          height: 370px;

          @include media(mobile-l) {
            height: 210px;
          }
        }
      }
    }
  }

  &--home {
    .gallery__item {

      &:nth-child(1),
      &:nth-child(4) {
        img {
          height: 530px;

          @include media(tablet) {
            height: 370px;
          }

          @include media(mobile-l) {
            height: 210px
          }
        }
      }

      &:nth-child(2),
      &:nth-child(3) {
        img {
          height: 210px;

          @include media(tablet) {
            height: 370px;
          }

          @include media(mobile-l) {
            height: 210px
          }
        }
      }

      &:nth-child(5),
      &:nth-child(6) {
        img {
          height: 370px;

          @include media(mobile-l) {
            height: 210px
          }
        }
      }
    }
  }

  img {
    object-fit: cover;
    height: 100%;
  }
}