@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.gallery {
  text-align: center;

  h2 {
    margin: 0 auto 25px;
  }

  p {
    max-width: 770px;
    margin: 0 auto 65px;
  }

  &__list {
    column-count: 3;
    column-gap: 30px;

    @include media(tablet) {
      column-count: 2;
    }

    @include media(mobile-l) {
      column-gap: 20px;
    }
  }

  &__item {
    margin-bottom: 30px;
    overflow: hidden;

    @include media(mobile-l) {
      margin-bottom: 20px;
    }
  }

  &--page {
    .gallery__item {
      &:nth-child(1) {
        img {
          min-height: 530px;
        }
      }

      &:nth-child(2) {
        img {
          max-height: 210px;
        }
      }

      &:nth-child(3) {
        img {
          min-height: 530px;
        }
      }

      &:nth-child(4) {
        img {
          max-height: 210px;
        }
      }

      &:nth-child(5) {
        img {
          max-height: 210px;
        }
      }

      &:nth-child(6) {
        img {
          min-height: 530px;
        }
      }

      &:nth-child(7) {
        img {
          max-height: 210px;
        }
      }

      &:nth-child(8) {
        img {
          min-height: 530px;
        }
      }

      &:nth-child(9) {
        img {
          min-height: 370px;
        }
      }

      &:nth-child(10) {
        img {
          min-height: 370px;
        }
      }

      &:nth-child(11) {
        img {
          max-height: 370px;
        }
      }

      &:nth-child(12) {
        img {
          min-height: 370px;
        }
      }
    }
  }

  &--home {
    .gallery__item {
      &:nth-child(1) {
        img {
          min-height: 530px;
        }
      }

      &:nth-child(2) {
        img {
          max-height: 210px;
        }
      }

      &:nth-child(3) {
        img {
          max-height: 210px;
        }
      }

      &:nth-child(4) {
        img {
          min-height: 530px;
        }
      }

      &:nth-child(5) {
        img {
          min-height: 370px;
        }
      }

      &:nth-child(6) {
        img {
          min-height: 370px;
        }
      }
    }
  }

  img {
    object-fit: cover;
    height: 100%;
  }
}