@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.hero {
  background-color: inherit;
  @include cover-background;

  &__content {
    @include flex-all-center;
    position: relative;
    flex-direction: column;
    text-align: center;
    gap: 32px;
    min-height: 100vh;
    z-index: 1;

    @include media(tablet-wide) {
      justify-content: center;
      min-height: 700px;
    }

    h1 {
      color: var(--color-white);
      line-height: 1.2;

      @include media(tablet-wide) {
        font-size: 100px;
      }

      @include media(tablet) {
        font-size: 80px;
      }

      @include media(mobile-l) {
        font-size: 60px;
      }

      @include media(mobile-l) {
        font-size: 40px;
      }
    }

    p {
      max-width: 825px;
      font-size: 20px;
      line-height: 1.6;
      font-weight: var(--fw-400);
      color: var(--color-white);

      @include media(mobile-l) {
        font-size: 16px;
      }
    }
  }

  .btn {
    min-width: 230px;
    padding: 18px 20px;
  }
}