@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.nav {
  @include flex-v-center;
  position: relative;
  color: var(--color-white);

  &__inner {
    @include flex-all-sb;
    width: 100%;

    @include media(tablet) {
      .logo--header {
        display: none;
      }
    }

    .header & {
      @include media(tablet) {
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: auto;
        color: var(--color-white);
        padding-block: calc(var(--header-height) * 1.2) 20px;
        width: 100%;
        height: calc(var(--vh));
        background-color: var(--color-dark);
        transform: translateX(150%);
        transition-property: transform;
        transition-duration: 0.4s;
      }
    }
  }

  &__list {
    @include flex-v-center;

    .header & {
      @include media(desktop) {
        margin-right: 10px;
      }

      @include media(tablet) {
        z-index: -1;
        flex-direction: column;
        margin: 0 auto;
      }
    }
  }

  &__item {
    &:not(:last-of-type) {
      margin-right: 35px;

      @include media(tablet-wide) {
        margin-right: 25px;

      }
    }

    .header & {
      @include media(tablet) {
        margin-bottom: 30px;
      }
    }
  }

  &__link {
    padding: 10px 0;
    display: inline-block;
    font-size: 16px;
    white-space: nowrap;
    text-transform: capitalize;
    background-color: transparent;
    transition: color .2s;
  }

  .true {
    color: var(--color-orange);

    @include media(tablet) {
      color: var(--color-white);
    }
  }

  &__btns {
    @include flex-v-center;
    justify-self: end;
    gap: 10px;

    @include media(tablet) {
      margin: 0 auto;
    }

    @include media(mobile-m) {
      flex-direction: column;
    }
  }
}