@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

.policy {
  padding: rem(155) 0 rem(150);

  h1 {
    font-size: 52px;
    font-family: var(--font-family-secondary);
    text-transform: uppercase;
    letter-spacing: 0;
    margin-bottom: rem(30);
  }

  p {
    line-height: 1.65;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  >* {
    font-family: var(--font-family-primary);
  }

  &__content {
    &:not(:last-child) {
      margin-bottom: 65px;
    }
  }

  h2 {
    font-size: 52px;
    margin-bottom: rem(20);
  }

  ul {
    color: var(--color-brown-900);
    margin-bottom: 24px;
    padding-left: 15px;
  }

  li {
    padding-left: 5px;
    font-size: 20px;

    &:not(:last-child) {
      margin-bottom: 3px;
    }

    &::marker {
      content: '\2713';
      margin-right: 5px;
    }
  }

  a {
    text-decoration: underline;
    color: var(--color-dark-900);
  }

  b,
  strong {
    font-weight: var(--fw-600);
  }

  @include media(tablet-wide) {
    padding: 150px 0;

    h1 {
      font-size: 42px;
    }

    h2 {
      font-size: 38px;
    }
  }

  @include media(mobile-l) {
    padding: 130px 0 40px;

    h1 {
      font-size: 35px;
    }

    h2 {
      font-size: 28px;
    }
  }
}