@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.post {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  @include media(mobile-l) {
    padding-block: 50px;
  }

  &__wrapper {
    display: flex;
    justify-content: flex-start;

    @include media(mobile-l) {
      flex-direction: column;
    }
  }

  &__inner {
    @include flex-h-center;
    flex-direction: column;
    gap: 32px;
    padding-inline: 130px 20px;
    padding-block: 30px;
    background-color: var(--color-white);

    @include media(tablet-wide) {
      padding-inline: 15px;
    }
  }

  img {
    display: block;
    object-fit: cover;
    min-height: 615px;
    max-width: 605px;
    width: 100%;

    @include media(tablet) {
      min-height: 415px;
      max-width: 400px;
    }

    @include media(mobile-l) {
      aspect-ratio: 16/7;
      max-width: 100%;
    }
  }

  h2,
  p {
    max-width: 570px;
  }

  p {
    color: var(--color-gray);
  }

  &--reverse {
    .post__inner {
      order: 1;
      padding-inline: 20px 130px;

      @include media(tablet-wide) {
        padding-inline: 15px;
      }
    }

    .post__wrapper {
      justify-content: flex-end;

      @include media(mobile-l) {
        flex-direction: column-reverse;
      }
    }

    img {
      order: 2;
    }
  }

  &--features {

    img {
      min-height: 830px;

      @include media(tablet) {
        min-height: 430px;
      }
    }

    h3 {
      color: var(--color-orange-900);
    }
  }
}