@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.about {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media(tablet) {
      flex-direction: column-reverse;
    }
  }

  &__content {
    max-width: 570px;
    @include flex-h-center;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-right: 30px;

    @include media(tablet) {
      max-width: 100%;
    }
  }

  p {
    color: var(--color-gray);
  }

  h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  &__item {
    position: relative;
    padding-left: 118px;

    @include media(mobile-m) {
      padding-left: 90px;
    }

    &:not(:last-child) {
      margin-bottom: 35px;
    }

    &:nth-child(1) {
      &::before {
        opacity: .55;
      }
    }

    &:nth-child(2) {
      &::before {
        opacity: .7;
      }
    }

    &::before,
    &::after {
      @include pseudo;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      left: 0;
      background-color: var(--color-orange);
      width: 86px;
      height: 86px;
      border-radius: calc(var(--radius-main) * 3 - 4px);
      z-index: -1;

      @include media(mobile-m) {
        width: 66px;
        height: 66px;
        border-radius: calc(var(--radius-main) * 2.5 - 4px);
      }
    }

    &::after {
      left: 25px;
      width: 35px;
      height: 35px;
      @include cover-background;
      background-image: var(--check);
      z-index: 1;

      @include media(mobile-m) {
        left: 16px;
      }
    }

    p {
      font-size: 16px;
    }
  }

  &__images {
    position: relative;
    min-height: 770px;
    max-width: 570px;
    width: 100%;

    @include media(tablet) {
      margin-bottom: 50px;
    }

    @include media(mobile-m) {
      min-height: 570px;
    }
  }

  &__image {
    overflow: hidden;

    img {
      width: 100%;
    }

    &--big {
      max-width: 470px;
      z-index: -1;

      @include media(mobile-m) {
        max-width: 370px;
      }

      img {
        min-height: 660px;
        border-radius: calc(var(--radius-main) * 20);

        @include media(mobile-m) {
          min-height: 470px;
        }
      }
    }

    &--small {
      position: absolute;
      bottom: 0;
      right: 0;
      border-radius: calc(var(--radius-main) * 20);
      border-top: 20px solid var(--color-white);
      border-left: 20px solid var(--color-white);
      max-width: 390px;
      z-index: 1;

      @include media(mobile-m) {
        border-top: 15px solid var(--color-white);
        border-left: 15px solid var(--color-white);
        max-width: 290px;

        @include media(mobile-s) {
          max-width: 230px;
        }
      }

      img {
        min-height: 495px;

        @include media(mobile-m) {
          min-height: 395px;
        }

        @include media(mobile-s) {
          min-height: 295px;
        }
      }
    }

  }
}